.hline{
    margin: auto;
    width: 5vh;
    height: 5px;
    background-color: rgb(120, 67, 233);
    border: none;
    opacity: 1;
    border-radius: 10px;

}

.pagemargin{
    margin-top: 70px;
}

.skillsbutton{
    width: 100%;
    background-color: black;
    
}

.skillsbutton:hover{
    background-color: black;
    cursor:default;
}

.hcj{
    width: 33%;
    margin-left: 0;
    margin-right: 1px;
}

.mern{
    width:24.8%;
    margin-right: 1px;

}

@media(max-width: 1200px){
    .mern1{
        width:49.5%;
    }
    .mern2{
        width:49.5%;
    }

}