*{
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.pixelfont {
  font-family: 'VT323', monospace;

}

.actv{
  
  color:white;
  
}

@media screen and (max-width: 990px) {
.navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    
  }

  .navbar-collapse.show {
    max-height: 500px;
   
  }

 
  .navbar-toggler {
    transition: transform 0.5s ease-in-out;
   
  }

  
  
}

