@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.homeContainer{
    height: 100vh;
    width: 100vw;
}

.CenterDiv{
    text-align: center;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pixelfont{
    font-family: 'VT323', monospace;
}

.Project-button{

    margin-top: 10px;
}
@media(max-width: 478px) {
.introHeading{
    margin-top: 60px;
}
}